
.petition-statistics {
  border:           1px solid #999999;
  font-style:       italic;
  margin-bottom:    5px;
  padding:          3px 0px 3px 0px;
  text-align:       center;
  width:            640px;
}

.petition-appeal {
  padding:          5px 5px 5px 5px;
  border:           1px solid red;
}

.petition-body {
  background-color: #e1e1e1;
  font-weight:      bold;
  margin:           5px 5px 5px 5px;
  padding:          5px 5px 5px 5px;
}

.petition-form {
  border:           1px solid #999999;
  padding:          5px 5px 5px 5px;
}

.petition-form .form-text {
  width:            95%;
}

.petition-group .petition-form {
  border:           none;
  border-right:     1px dotted #c61f31;
  float:            left;
  padding:          0;
  width:            55%;
}

.petition-group .petition-personal {
  background-color: #f3f3f3;
  border:           1px solid #c61f31;
  float:            right;
  margin-bottom:    10px;
  padding:          8px;
  width:            40%;
}

.trend-positive {
  color:            green;
  font-weight:      bold;
}

.trend-negative {
  color:            red;
  font-weight:      bold;
}

.petition .more-link {text-align:left;}